{% extends "app/layout.html" %}


{% block body %}

{% if not ispdf %}
Cv of {{cv.user}}
{% endif %}

<h2>{{cv.name}}</h2>

<h2>{{cv.email}}</h2>

<h2> {{cv.phone}}</h2>


<hr>

<br>


<h3>About</h3>
<hr>

<p>{{cv.about}}</p>

<br>

<h3>Skills</h3>
<hr>

<p>{{cv.skills}}</p>



<h3>Degree</h3>
<hr>

<p>{{cv.degree}}</p>

<h3>University</h3>
<hr>

<p>{{cv.university}}</p>

<h3>Experience</h3>
<hr>

<p>{{cv.experience}}</p>


{% if not ispdf %}

<a href="{% url 'cvtopdf' cv.id %}" class="btn btn-primary">Download PDF</a>
{% endif %}
{% endblock  %}